.homebody-content {
    display: flex;
    justify-content: center;
}

.homebody-container {
    display: flex;
    width: 960px;
    margin-top: 20px;
}

.homebody-container h1 {
    font-size: 24px;
}